<nav x-data="{ showMobileNav: false }">
    <div class="site-name">
        <a href="{{ site:url }}">{{ settings:site_name }}</a>
    </div>
    <div class="mobile-nav">
        <button class="flex items-center px-3 text-gray-800" x-bind:class="{'hidden': showMobileNav}" x-on:click="showMobileNav = true">
            <svg class="fill-current h-5 w-5" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <title>Open Menu</title>
                <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
            </svg>
        </button>
        <button class="items-center px-3 text-gray-800" x-bind:class="{'flex': showMobileNav, 'hidden': ! showMobileNav}" x-on:click="showMobileNav = false" x-cloak>
            <svg class="fill-current h-5 w-5" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <title>Close Menu</title>
                <path
                    d="M10 8.586L2.929 1.515 1.515 2.929 8.586 10l-7.071 7.071 1.414 1.414L10 11.414l7.071 7.071 1.414-1.414L11.414 10l7.071-7.071-1.414-1.414L10 8.586z" />
            </svg>
        </button>
    </div>
    <div class="w-full lg:w-auto lg:flex items-center" x-bind:class="{ 'hidden': ! showMobileNav }">
        {{ nav }}
        <a href="{{ url }}" class="block {{ is_current || is_parent ?= 'font-medium text-gray-800' }} mt-4 lg:inline-block text-gray-600 hover:text-gray-800 lg:mt-0 mr-12">
            {{ title }}
        </a>
        {{ /nav }}
    </div>
</nav>
