{{ paginate }}
{{ if total_pages > 1 }}
<footer class="paginate">
    {{ if prev_page }}
    <a href="{{ prev_page }}" class="button prev"><< Previous</a>
    {{ /if }}

    <strong>{{ current_page }}</strong> of <strong>{{ total_pages }}</strong> pages
    (There are <strong>{{ total_items }}</strong> posts)

    {{ if next_page }}
    <a href="{{ next_page }}" class="button next">Next >></a>
    {{ /if }}
</footer>
{{ /if }}
{{ /paginate }}
