<div class="max-w-5xl mx-auto relative mt-4 content">
    <img src="/assets/site/scratches.svg" class="absolute top-0 mt-8 left-0 w-20 hidden md:block">
    <article class="py-2 max-w-2xl mx-auto content">
        <h1>{{ title }}</h1>
        {{ content | widont }}
    </article>
</div>
