<div class="max-w-2xl mx-auto mb-32">
    {{ collection:articles paginate="5" as="articles" }}
    {{ articles }}
    <article class="mb-16">
        <h2 class="mb-4">
            <a href="{{ url }}" class="text-2xl hover:text-teal tracking-tight leading-tight font-bold">
                {{ title | widont }}
            </a>
        </h2>
        <p class="text-gray-600">
            <span class="text-gray-800 text-sm uppercase tracking-widest font-medium">{{ date format="M j, Y" }}</span> &mdash;
            {{ excerpt ? excerpt | widont : content | strip_tags | safe_truncate:160:...}}
        </p>
    </article>
    {{ /articles }}
    <footer>{{ partial:pagination }}</footer>
    {{ /collection:articles }}
</div>
