<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }} — {{ settings:site_name }}</title>
        <meta name="description" content="{{ excerpt ?? title }}">
        <meta name="theme-color" content="00908F">
        <link rel="shortcut icon" type="image/x-icon" href="/blog/assets/site/favicon.png">
        <link rel="stylesheet" href="{{ mix src='/blog/css/tailwind.css' }}">
        <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
        {{ feedamic }}
    </head>
    <body>
        <header>{{ partial:nav }}</header>
        {{ template_content }}
        <footer>{{ partial:footer }}</footer>
    </body>
</html>
