nav {
    @apply flex items-center justify-between lg:justify-start flex-wrap py-10 max-w-5xl mx-auto
}

nav .site-name {
    @apply antialiased font-medium
}

nav .site-name a {
    @apply block text-xl lg:inline-block mr-0 md:mr-12 font-black
}

nav .mobile-nav {
    @apply lg:hidden;
}
