@import "./nav.scss";

body {
    @apply bg-white font-sans leading-normal text-gray-800 px-4;
}

h1 {
    @apply text-4xl font-bold leading-none mb-16;
}



.content {
    > h2 {
        @apply text-2xl font-bold leading-none mt-12 py-6;
    }

    > h3 {
        @apply text-xl font-semibold leading-none py-6;
    }

    > h4 {
        @apply font-bold uppercase tracking-widest leading-none py-6;
    }

    > p {
        @apply mb-6 text-lg;
    }

    > p:first-of-type {
        @apply text-2xl;
    }

    > blockquote {
        @apply font-black italic px-4 mb-12 pt-6 pb-6 leading-tight bg-blockquote border-l-4 border-teal-light;
    }

    > blockquote > p {
        @apply text-xl leading-tight font-semibold;
    }

    img {
        @apply my-12;
    }

    a {
        @apply text-teal font-medium underline;
        &:hover {
            @apply text-black;
        }
    }

    ul:not(.list-none) {
        @apply pl-0 list-disc ml-10 mb-6 text-lg;
        li {
            @apply mt-1 mb-1;
        }
    }

    .toc {
        @apply mb-4;
        nav {
            @apply block;
        }
        .table-of-contents {
            @apply list-none pl-4 m-0 text-sm;
            li.child {
                @apply pl-2;
            }

            li.grandchild {
                @apply pl-4;
            }
        }
    }


    ol {
        @apply pl-0 list-decimal ml-10 mb-6 text-lg;
        > li {
            @apply mb-1;
        }
    }

    > p code,
    > ul li *:not(pre) code,
    > ul li > code,
    > ol li *:not(pre) code,
    > ol li > code {
        @apply inline-block bg-gray-800 text-white text-sm p-1 leading-none whitespace-nowrap font-mono align-baseline;
    }

    > pre, pre&, > ul li pre, > ol li pre {
        @apply flex p-0 bg-gray-800 text-gray-300 text-sm leading-loose mb-6;
    }

    > pre code, pre code&, > ul li pre code, > ol li pre code {
        @apply p-4;
    }

    > table {
        @apply w-full text-left border border-gray-800 border-collapse mb-6 text-sm;
        th {
            @apply font-bold text-gray-800 bg-gray-200 p-2 uppercase tracking-widest border-t-4 border-b border-gray-800;
        }

        td {
            @apply p-3 border-b border-gray-800 text-sm;
        }

        p {
            @apply leading-normal;
        }
    }

    li > ul:not(.list-none) {
        @apply mb-0;
        li {
            @apply mb-0;
        }
    }

}

footer {
    .paginate {
        @apply text-sm uppercase
    }

    .paginate .button {
        @apply p-3 bg-teal-light hover:bg-teal hover:text-white rounded font-bold
    }

    .button.prev {
        @apply mr-5
    }

    .button.next {
        @apply ml-5
    }
}

/* Responsive Wangjangling */
@screen lg {
    h1 {
        @apply text-6xl;
    }

    .content {
        > h2 {
            @apply text-3xl mt-8 py-6;
        }
    }
}

