<div class="max-w-5xl mx-auto relative mt-4 content">
    {{ svg src="/assets/site/scratches" class="absolute text-gray-800 mt-8 top-0 left-0 w-20 hidden md:block" }}
    <article class="pt-4 max-w-2xl mx-auto content">
        <p class="font-medium text-teal mb-0">{{ heading ?? "Articles about" }}</p>
        <h1>{{ title }}</h1>
        {{ content }}
    </article>
</div>
<div class="max-w-2xl mx-auto mb-32">
    {{ entries paginate="5" status:is="published"}}
    {{ results }}
    <div class="mb-16">
        <h2 class="mb-4">
            <a href="{{ url }}" class="text-2xl hover:text-teal tracking-tight leading-tight font-bold">
                {{ title | widont }}
            </a>
        </h2>
        <p class="text-gray-600">
            <span class="text-gray-800 text-sm uppercase tracking-widest font-medium">{{ date format="M j, Y" }}</span> &mdash;
            {{ excerpt | widont ?? content | strip_tags | safe_truncate:160:...}}
        </p>
    </div>
    {{ /results }}
    <footer>{{ partial:pagination }}</footer>
    {{ /entries }}
</div>
