<div class="max-w-5xl mx-auto relative mt-4">
    <div class="py-2 max-w-2xl mx-auto">
        <header class="content mb-16">
            <h1>{{ title }}</h1>
            {{ content | widont }}
        </header>

        {{ collection:articles as="articles" paginate="10" }}

        {{ articles }}
        <article class="mb-16">
            <h2 class="mb-4">
                <a href="{{ url }}" class="text-lg hover:text-teal tracking-tight leading-tight font-bold">
                    {{ title | widont }}
                </a>
            </h2>
            <p class="text-gray-600">
                <span class="text-gray-800 text-sm uppercase tracking-widest font-medium">{{ date format="M j, Y" }}</span> &mdash;
                {{ excerpt ? excerpt | widont : content | strip_tags | safe_truncate:100:...}}
            </p>
        </article>
        {{ /articles }}

        <footer>{{ partial:pagination }}</footer>
        {{ /collection:articles }}
    </div>
</div>
