<div class="max-w-5xl mx-auto relative mt-4 content">
    <article class="lg:py-2 max-w-2xl mx-auto">
        <h1>{{ title }}</h1>
        <div></div>
        <div class="bg-gray-800 inline-block text-sm pr-4 pl-16 -ml-16 uppercase tracking-widest text-white py-1 rounded-r-full">
            Published
            {{ if topics }}
                in {{ topics }}<a href="{{ url }}" class="text-teal-light no-underline hover:text-white">{{ title }}</a>{{ unless last }}, {{ /unless }}{{ /topics }}
            {{ /if }}
            on {{ date format="M j, Y" }}<br />
        </div>
        <div class="text-xs mb-8">{{ if last_modified }}Last modified: {{ last_modified format="M j, Y" }} {{ /if }}</div>
        <div class="content">
            {{ toc }}
            {{ content | widont }}
        </div>
        <div class="comments">
            <div class="commentbox"></div>
            <script src="https://unpkg.com/commentbox.io/dist/commentBox.min.js"></script>
            <script>commentBox('5732368371417088-proj')</script>
        </div>
    </article>
</div>
